* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  padding: 30px 0 10px 0;
  background-color: #EBEBE9;
  position: relative;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 952px) {
  .header .nav {
    display: none;
  }
}
.header .nav-list {
  display: flex;
}
.header .nav-list__item {
  padding: 11px 32px;
}
.header .nav-list__item-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #292929;
}
.header .nav-list__item-link:hover {
  color: #FF8340;
}
.header .burger {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #292929;
  width: 48px;
  height: 48px;
  margin-top: 16px;
  margin-right: 32px;
}
@media screen and (min-width: 953px) {
  .header .burger {
    display: none;
  }
}
.header .burger__line {
  position: relative;
  display: inline-block;
  height: 3px;
  width: 22px;
  background-color: #292929;
}
.header .burger__line::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  background-color: #292929;
  bottom: 13px;
}
.header .burger__line::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  background-color: #292929;
  top: 13px;
}

.main {
  background-color: #EBEBE9;
}
.main__wrapper {
  position: relative;
  height: 816px;
}
@media screen and (max-width: 952px) {
  .main__wrapper {
    height: 605px;
  }
}
.main__background-image {
  position: absolute;
  left: -100px;
  bottom: 0;
  z-index: 1;
}
@media screen and (max-width: 952px) {
  .main__background-image {
    width: 624px;
    left: -68px;
  }
}
.main__title {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: clamp(24px, 10vw, 160px);
  font-weight: 900;
  color: #CFCFCD;
  top: 120px;
  left: 441px;
  margin: 0;
  letter-spacing: 1px;
  width: -moz-max-content;
  width: max-content;
  z-index: 0;
}
@media screen and (max-width: 952px) {
  .main__title {
    top: 180px;
    left: 103px;
  }
}
@media screen and (max-width: 1200px) {
  .main__title {
    top: 180px;
    left: 106px;
  }
}
.main__description {
  width: 590px;
  right: 0;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  position: absolute;
  z-index: 2;
}
@media screen and (max-width: 952px) {
  .main__description {
    bottom: 0;
    max-width: 363px;
    top: 155px;
    left: 504px;
  }
}
.main__description-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #292929;
  display: flex;
  margin-top: 14px;
  text-decoration: none;
}
.main__description-link:hover {
  color: #FF8340;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial-Black.eot");
  src: url("../fonts/Arial-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial-Black.woff") format("woff"), url("../fonts/Arial-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.art {
  background-color: #fff;
}
.art__wrapper {
  position: relative;
  height: 973px;
}
@media screen and (max-width: 952px) {
  .art__wrapper {
    height: 817px;
  }
}
.art__background-image {
  position: absolute;
  right: 0;
  margin-top: 377px;
}
@media screen and (max-width: 952px) {
  .art__background-image {
    bottom: 0;
    width: 598px;
    height: 374px;
  }
}
.art__title {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: clamp(24px, 10vw, 80px);
  font-weight: 900;
  color: #292929;
  padding-left: 0;
  top: 169px;
  letter-spacing: 1px;
  z-index: 2;
}
@media screen and (max-width: 952px) {
  .art__title {
    width: 562px;
    height: 210px;
    top: 54px;
    font-size: 60px;
    left: 32px;
  }
}
@media screen and (max-width: 1200px) {
  .art__title {
    width: 562px;
    height: 210px;
    top: 54px;
    font-size: 60px;
    left: 32px;
  }
}
@media screen and (max-width: 1400px) {
  .art__title {
    width: 562px;
    height: 210px;
    top: 56px;
    font-size: 60px;
    left: 32px;
  }
}
.art__description {
  position: absolute;
  width: 562px;
  height: 677px;
  top: 72px;
  left: 206px;
  border: 6px solid #FF8340;
}
@media screen and (max-width: 952px) {
  .art__description {
    width: 504px;
    height: 647px;
    left: 117px;
    top: 27px;
  }
}
.art__description-text {
  width: 510px;
  padding-top: 335px;
  padding-left: 25px;
  padding-right: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}
@media screen and (max-width: 952px) {
  .art__description-text {
    width: 439px;
    height: 276px;
    padding-top: 276px;
    padding-left: 26px;
    padding-right: 39px;
  }
}
.art__description-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #292929;
  display: flex;
  margin-top: 14px;
  text-decoration: none;
}
@media screen and (max-width: 952px) {
  .art__description-link {
    margin-top: 36px;
  }
}
.art__description-link:hover {
  color: #FF8340;
}

.direction {
  background-color: #292929;
}
.direction__wrapper {
  display: flex;
  flex-direction: column;
}
.direction__title {
  padding: 124px 245px 34px 0;
  font-family: Arial, sans-serif;
  font-size: clamp(24px, 10vw, 80px);
  width: -moz-max-content;
  width: max-content;
  font-weight: 900;
  color: #FFFFFF;
}
@media screen and (max-width: 952px) {
  .direction__title {
    font-size: 60px;
    padding-top: 53px;
    padding-left: 32px;
    padding-right: 53px;
  }
}
@media screen and (max-width: 1200px) {
  .direction__title {
    font-size: 60px;
    padding-top: 53px;
    padding-left: 32px;
    padding-right: 53px;
  }
}
@media screen and (max-width: 1400px) {
  .direction__title {
    font-size: 60px;
    padding-top: 52px;
    padding-left: 39px;
    padding-right: 50px;
  }
}
.direction__description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
  margin: 34px 0 81px;
}
@media screen and (max-width: 952px) {
  .direction__description {
    margin: 28px 32px 53px 32px;
  }
}
@media screen and (max-width: 1200px) {
  .direction__description {
    margin: 26px 30px 50px 30px;
  }
}
@media screen and (max-width: 1400px) {
  .direction__description {
    margin: 24px 28px 48px 28px;
  }
}

.section-feedback {
  background-color: #ff8340;
}

@media screen and (max-width: 952px) {
  .feedback-block {
    max-height: 781px;
  }
}
.feedback-block__title {
  padding-top: 40px;
  font-size: 45px;
  font-family: Arial, sans-serif;
  text-align: center;
  letter-spacing: 2px;
  line-height: 74px;
  color: #292929;
}
@media screen and (max-width: 952px) {
  .feedback-block__title {
    padding-top: 32px;
    font-size: 32px;
    line-height: 45px;
  }
}
.feedback-block__separator {
  margin: 35px auto 0px;
  height: 6px;
  width: 64px;
  background-color: #292929;
  top: 109px;
}
.feedback-block__description {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}
@media screen and (max-width: 952px) {
  .feedback-block__description {
    margin: 48px 32px 30px 32px;
  }
}
.feedback-block__form {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 40px;
}
@media screen and (max-width: 952px) {
  .feedback-block__form {
    gap: 20px 20px;
  }
}
.feedback-block .feedback__item {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #b0b0b0;
  width: 680px;
  height: 58px;
  padding-left: 34px;
  letter-spacing: 2px;
}
@media screen and (max-width: 952px) {
  .feedback-block .feedback__item {
    width: 434px;
  }
}
.feedback-block .feedback__text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  width: 100%;
  padding-top: 18px;
  padding-left: 34px;
}
@media screen and (max-width: 952px) {
  .feedback-block .feedback__text {
    width: 888px;
  }
}
.feedback-block .feedback__call {
  margin: 3px 0px 0px 1185px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  background-color: #ff8340;
  border: 0 none;
  padding: 11px 0px;
}
.feedback-block .feedback__call:hover {
  color: #ffffff;
  background-color: #292929;
}
.feedback-block .feedback__call:active {
  color: #843500;
}
@media screen and (max-width: 952px) {
  .feedback-block .feedback__call {
    margin: 10px 0px 0px 673px;
  }
}
.feedback-block .select {
  background-color: #292929;
  color: #ffffff;
}

.system-block {
  display: grid;
  align-items: center;
  grid-template-areas: "item1 item1 item1 item5 item5" "item2 item3 item4 item5 item5";
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
@media screen and (max-width: 952px) {
  .system-block {
    grid-template-areas: "item1 item1 item1 item5 item5" "item2 item2 item2 item3 item3" "item4 item4 item4 item4 item4";
  }
}
@media screen and (max-width: 952px) {
  .system-block__img-bg {
    max-width: 475px;
    max-height: 479px;
  }
}
.system-block .item1 {
  grid-area: item1;
}
.system-block .item2 {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.system-block .item3 {
  grid-area: item3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.system-block .item4 {
  grid-area: item4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.system-block .item5 {
  grid-area: item5;
}

.text__title {
  padding: 124px 231px 34px 260px;
  font-family: Arial, sans-serif;
  font-size: clamp(60px, 10vw, 80px);
  font-weight: 900;
  color: #292929;
}
@media screen and (max-width: 952px) {
  .text__title {
    padding: 40px 62px 38px 62px;
    font-size: 60px;
  }
}
.text__description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  padding: 34px 76px 41px 260px;
}
@media screen and (max-width: 952px) {
  .text__description {
    padding: 38px 32px 32px 32px;
    max-width: 412px;
    max-height: 299px;
  }
}

.card-food__img {
  margin-top: 38px;
  margin-bottom: 70px;
}
.card-food__title {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}
.card-food__description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  padding: 52px 34px 58px 38px;
}
@media screen and (max-width: 952px) {
  .card-food__description {
    max-width: 404px;
    max-height: 92px;
  }
}

.card-sched__img {
  margin-top: 38px;
  margin-bottom: 70px;
}
.card-sched__title {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}
.card-sched__description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  padding: 52px 34px 58px 34px;
}

.card-program__img {
  margin-top: 38px;
  margin-bottom: 70px;
}
.card-program__title {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}
.card-program__description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  padding: 52px 34px 58px 34px;
}
@media screen and (max-width: 952px) {
  .card-program__description {
    max-width: 882px;
    max-height: 46px;
    margin-bottom: 58px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 226px;
}
.footer .footnav {
  display: flex;
  align-items: center;
}
.footer .footnav-list {
  display: flex;
  margin-top: 46px;
}
.footer .footnav-list__item {
  margin: 46px 232px 44px 0;
}
@media screen and (max-width: 952px) {
  .footer .footnav-list__item {
    margin: 46px 61px 44px 28px;
  }
}
.footer .footnav-list__item-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #292929;
}
.footer .footnav-list__item-link:hover {
  color: #FF8340;
}

.content {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: #FF8340;
  margin: 0 34px 0 auto;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  color: #FF8340;
  margin: 0 auto 0 34px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  height: 100%;
  width: 260px;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-90deg, #FFFFFF 0%, rgba(41, 41, 41, 0) 70%);
}
@media screen and (max-width: 1200px) {
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  height: 100%;
  width: 260px;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(41, 41, 41, 0) 70%);
}
@media screen and (max-width: 1200px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .swiper-slide img {
    filter: grayscale(1);
  }
}

@media screen and (max-width: 1200px) {
  .swiper-slide-next img {
    filter: grayscale(0);
  }
}

.coach__title {
  font-size: 80px;
  padding: 140px 650px 124px 260px;
  font-family: Arial, sans-serif;
  text-align: center;
  letter-spacing: 2px;
  line-height: 90px;
  color: #292929;
}
@media screen and (max-width: 1200px) {
  .coach__title {
    display: none;
  }
}
.coach__photo {
  max-height: 857px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .coach__photo {
    max-height: 762px;
  }
}
.coach__item-title {
  font-size: 45px;
  padding: 13px 52px 10px 30px;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  line-height: 50px;
  color: #292929;
}
@media screen and (max-width: 1200px) {
  .coach__item-title {
    font-size: 38px;
    line-height: 41px;
  }
}
.coach__item-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 82px 16px 54px;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .coach__item-subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}

.welcome__wrapper {
  max-height: 932px;
}
@media screen and (max-width: 952px) {
  .welcome__wrapper {
    max-height: 1119px;
  }
}
.welcome__title {
  margin: 124px 245px 34px 0;
  font-family: Arial, sans-serif;
  font-size: clamp(24px, 10vw, 80px);
  width: -moz-max-content;
  width: max-content;
  font-weight: 900;
  line-height: 90px;
  color: #292929;
}
@media screen and (max-width: 952px) {
  .welcome__title {
    margin: 53px 146px 28px 32px;
    max-width: 774px;
    font-size: 60px;
  }
}
.welcome__map {
  width: 100%;
}/*# sourceMappingURL=style.css.map */