@mixin text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.art {
  background-color: #fff;

  &__wrapper {
    position: relative;
    height: 973px;

    @media screen and (max-width: 952px) {
      height: 817px;
    
      }
  }

  &__background-image {
    position: absolute;
    right: 0;
    margin-top: 377px;

    @media screen and (max-width: 952px) {
      bottom: 0;
      width: 598px;
      height: 374px;
    
      }
}

&__title {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: clamp(24px, 10vw, 80px);
  font-weight: 900;
  color: #292929;
  padding-left: 0;
  top: 169px;
  letter-spacing: 1px;
  z-index: 2;

  @media screen and (max-width: 952px) {
    width: 562px;
    height: 210px;
    top: 54px;
    font-size: 60px;
    left: 32px;
  
    }

    @media screen and (max-width: 1200px) {
      width: 562px;
      height: 210px;
      top: 54px;
      font-size: 60px;
      left: 32px;
    
      }

      @media screen and (max-width: 1400px) {
        width: 562px;
        height: 210px;
        top: 56px;
        font-size: 60px;
        left: 32px;
      
        }
  }

  &__description {
  position: absolute;
  width: 562px;
  height: 677px;
  top: 72px;
  left: 206px;
  border: 6px solid #FF8340;

  @media screen and (max-width: 952px) {
    width: 504px;
    height: 647px;
    left: 117px;
    top: 27px;
  
    }
}

&__description-text {
  width: 510px;
  padding-top: 335px;
  padding-left: 25px;
  padding-right: 27px;
  @include text;

  @media screen and (max-width: 952px) {
    width: 439px;
    height: 276px;
    padding-top: 276px;
    padding-left: 26px;
    padding-right: 39px;
  
    }
}

&__description-link {
  @include text;
  color: #292929;
  display: flex;
  margin-top: 14px;
  text-decoration: none;

  @media screen and (max-width: 952px) {
    margin-top: 36px;
  
    }
}

&__description-link:hover {
  color: #FF8340;
}
}