@mixin coach-title {
font-size: 45px;
padding: 13px 52px 10px 30px;
font-family: Arial, sans-serif;
letter-spacing: 2px;
line-height: 50px;
color: #292929;
}

@mixin coach-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 82px 16px 54px;
  text-decoration: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: #FF8340;
  margin: 0 34px 0 auto;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  color: #FF8340;
  margin: 0 auto 0 34px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  height: 100%;
  width: 260px;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-90deg, #FFFFFF 0%, rgba(41, 41, 41, 0) 70%);

  @media screen  and (max-width: 1200px){
    display: none;
  }
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  height: 100%;
  width: 260px;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(41, 41, 41, 0) 70%);

  @media screen  and (max-width: 1200px){
    display: none;
  }
}

.swiper-slide {
  @media screen and (max-width: 1200px) {
    img {
      filter: grayscale(1);
    }
    
  }
}

.swiper-slide-next {
  @media screen and (max-width: 1200px) {
    img {
      filter: grayscale(0);
    }
  }
}

.coach {
  &__title {
    font-size: 80px;
    padding: 140px 650px 124px 260px;
    font-family: Arial, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    line-height: 90px;
    color: #292929;

    @media screen and (max-width: 1200px) {
      display: none;
      
    }
  }

  &__photo {
    max-height: 857px;
    max-width: 100%;
    object-fit: cover;

    @media screen and (max-width: 1200px) {
      max-height: 762px;
    }
  }

  &__item-title {
    @include coach-title;

    @media screen and (max-width: 1200px) {
      font-size: 38px;
      line-height: 41px;
    }
  }

  &__item-subtitle {
    @include coach-subtitle;
    @media screen and (max-width: 1200px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
