@mixin text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.direction {
  background-color: #292929;


&__wrapper {
  
  display: flex;
  flex-direction: column;
  
  
  }

  &__title {
  padding: 124px 245px 34px 0;
  font-family: Arial, sans-serif;
  font-size: clamp(24px, 10vw, 80px);
  width: max-content;
  font-weight: 900;
  color: #FFFFFF;

  @media screen and (max-width: 952px) {
    font-size: 60px;
    padding-top: 53px;
    padding-left: 32px;
    padding-right: 53px;
    }

    @media screen and (max-width: 1200px) {
    font-size: 60px;
    padding-top: 53px;
    padding-left: 32px;
    padding-right: 53px;
    
  }
  @media screen and (max-width: 1400px) {
      font-size: 60px;
      padding-top: 52px;
      padding-left: 39px;
      padding-right: 50px;
      
        }
  }

  &__description {
  @include text;
  color: #FFFFFF;
  margin: 34px 0 81px;

  @media screen and (max-width: 952px) {
    margin: 28px 32px 53px 32px;
    }
    @media screen and (max-width: 1200px) {
      margin: 26px 30px 50px 30px;
      }
      @media screen and (max-width: 1400px) {
        margin: 24px 28px 48px 28px;
        }
  }

}