@mixin text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.section-feedback {
  background-color: #ff8340;
}

.feedback-block {

  @media screen and (max-width: 952px) {
    max-height: 781px;
  }

  &__title {
    padding-top: 40px;
    font-size: 45px;
    font-family: Arial, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    line-height: 74px;
    color: #292929;

    @media screen and (max-width: 952px) {
      padding-top: 32px;
      font-size: 32px;
      line-height: 45px;
    }
  }

  &__separator {
    margin: 35px auto 0px;
    height: 6px;
    width: 64px;
    background-color: #292929;
    top: 109px;
  }

  &__description {
    margin-top: 50px;
    @include text;

    @media screen and (max-width: 952px) {
      margin: 48px 32px 30px 32px;
    }
  }

  &__form {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 40px;

    @media screen and (max-width: 952px) {
      gap: 20px 20px;
    }
  }

  .feedback {
    &__item {
      @include text;
      color: #b0b0b0;
      width: 680px;
      height: 58px;
      padding-left: 34px;
      letter-spacing: 2px;

      @media screen and (max-width: 952px) {
        width: 434px;
      }
    }

    &__text {
    @include text;
    width: 100%;
    padding-top: 18px;
    padding-left: 34px;

    @media screen and (max-width: 952px) {
    width: 888px;
    }
    }

    &__call {
      margin: 3px 0px 0px 1185px;
      @include text;
      background-color: #ff8340;
      border: 0 none;
      padding: 11px 0px;

      &:hover {
        color: #ffffff;
        background-color: #292929;
      }

      &:active {
        color: #843500;
      }

      @media screen and (max-width: 952px) {
        margin: 10px 0px 0px 673px;
      }
    }
  }

  .select {
    background-color: #292929;
    color: #ffffff;
  }
}