@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial-Black.eot');
  src: url('../fonts/Arial-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arial-Black.woff') format('woff'),
  url('../fonts/Arial-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  }