@mixin text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.footer {
  

  &__wrapper {
  display: flex;
 justify-content: space-between;
  align-items: center; 
  max-height: 226px;
  }

  .footnav {
  display: flex;
  align-items: center;
    &-list {
      
      display: flex;
      margin-top: 46px;
      


      &__item {
        margin: 46px 232px 44px 0;
        

        @media screen and (max-width: 952px) {
          margin: 46px 61px 44px 28px;
        }

        &-link {
          @include text;
          color: #292929;
          
        }

        &-link:hover {
          color: #FF8340;
        }
      }
    }

  }

 

  
}

.content {
  @include text;
  display: flex;
  flex-direction: column;
  align-items: center;
}