@mixin text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}



.header {
  padding: 30px 0 10px 0;
  background-color: #EBEBE9;
  position: relative;

  &__wrapper {
  display: flex;
 justify-content: space-between;
  align-items: center;
  }

  .nav {
    @media screen and (max-width: 952px) {
    display: none;
  
    }
    &-list {
      display: flex;

      &__item {
        padding: 11px 32px;

        &-link {
          @include text;
          color: #292929;
        }

        &-link:hover {
          color: #FF8340;
        }
      }
    }

  }

  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #292929;
    width: 48px;
    height: 48px;
    margin-top: 16px;
    margin-right: 32px;
    @media screen and (min-width: 953px) {
      display: none;
    
      }
  }
  .burger__line {
    position: relative;
    display: inline-block;
    height: 3px;
    width: 22px;
    background-color: #292929;
  }

  .burger__line::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    background-color: #292929;
    bottom: 13px;
  }

  .burger__line::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    background-color: #292929;
    top: 13px;
  }
}

