@mixin text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}


.main {
  background-color: #EBEBE9;
  
  &__wrapper {
  position: relative;
  height: 816px;
  
  @media screen and (max-width: 952px) {
    height: 605px;
  
    }
  }

  &__background-image {
    position: absolute;
    left: -100px;
    bottom: 0;
    z-index: 1;

    @media screen and (max-width: 952px) {
      width: 624px;
      left: -68px;
    
      }

  
  }

  &__title {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: clamp(24px, 10vw, 160px);
  font-weight: 900;
  color: #CFCFCD;
  top: 120px;
  left: 441px;
  margin: 0;
  letter-spacing: 1px;
  width: max-content;
  z-index: 0;

  @media screen and (max-width: 952px) {
    top: 180px;
    left: 103px;
  
    }
    @media screen and (max-width: 1200px) {
      top: 180px;
      left: 106px;
    
      }
  }

  &__description {
  width: 590px;
  right: 0;
  padding-top: 30px;
  @include text;
  position: absolute;
  z-index: 2;

  @media screen and (max-width: 952px) {
    bottom: 0;
    max-width: 363px;
    top: 155px;
    left: 504px;
  
    }
  }
  &__description-link {
    @include text;
    color: #292929;
    display: flex;
    margin-top: 14px;
    text-decoration: none;
  }

  &__description-link:hover {
    color: #FF8340;
  }

}

