@mixin text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

@mixin subtitle {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.system-block {
  display: grid;
  align-items: center;
  grid-template-areas: 
     'item1 item1 item1 item5 item5'
     'item2 item3 item4 item5 item5';
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;

  @media screen and (max-width: 952px) {
    grid-template-areas: 
    'item1 item1 item1 item5 item5'
    'item2 item2 item2 item3 item3'
    'item4 item4 item4 item4 item4';
  }  

  &__img-bg {
    @media screen and (max-width: 952px) {
      max-width: 475px;
      max-height: 479px;
    }

  }

  .item1 {  
  grid-area: item1;
  }  

  .item2 { 
    grid-area: item2;
    @include flex;    
  }  

  .item3 {  
    grid-area: item3;
    @include flex;
  } 

  .item4  { 
    grid-area: item4;
    @include flex;
  } 

  .item5{
    grid-area: item5;
  } 
}  



.text{
  &__title { 
  padding: 124px 231px 34px 260px;
  font-family: Arial, sans-serif;
  font-size: clamp(60px, 10vw, 80px);
  font-weight: 900;
  color: #292929;

  @media screen and (max-width: 952px) {
    padding: 40px 62px 38px 62px;
    font-size: 60px;
  }
  } 

  &__description { 
    @include text;
    padding: 34px 76px 41px 260px;

    @media screen and (max-width: 952px) {
      padding: 38px 32px 32px 32px;
      max-width: 412px;
      max-height: 299px;
    }

  } 
}

.card-food {
  &__img {
    margin-top: 38px;
    margin-bottom: 70px;
  }
  &__title {
    @include subtitle;
  }

  &__description { 
    @include text;
    padding: 52px 34px 58px 38px;
    

    @media screen and (max-width: 952px) {
      max-width: 404px;
      max-height: 92px;
    }
  }
} 

.card-sched { 
  &__img {
    margin-top: 38px;
    margin-bottom: 70px;
  }
  &__title {
    @include subtitle;
    
  }

  &__description { 
    @include text;
    padding: 52px 34px 58px 34px;
    
    
  }
}

.card-program {
  &__img {
    margin-top: 38px;
    margin-bottom: 70px;
  }
  &__title {
    @include subtitle;
    
  }

  &__description {
    @include text;
    padding: 52px 34px 58px 34px;

    @media screen and (max-width: 952px) {
      max-width: 882px;
      max-height: 46px;
      margin-bottom: 58px;
    }
  }
}
