.welcome {
  &__wrapper {
    max-height: 932px;

    @media screen and (max-width: 952px) {
      max-height: 1119px;
    
      }
  }
  &__title {
   margin: 124px 245px 34px 0;
    font-family: Arial, sans-serif;
    font-size: clamp(24px, 10vw, 80px);
    width: max-content;
    font-weight: 900;
    line-height: 90px;
    color: #292929;
   
    @media screen and (max-width: 952px) {
      margin: 53px 146px 28px 32px;
      max-width: 774px;
      font-size: 60px;
    }
  }

  &__map {
   width: 100%;
  }
}