.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header {
  padding: 30px 0 10px 0;
  background-color: #EBEBE9;
  position: relative;
}

.nav-list {
  display: flex;

}

.nav-list__item {
  padding: 11px 32px;
}
a {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #292929;
}

a:hover {
  color: #FF8340;
}




