.main {
  background-color: #EBEBE9;
}

.main__wrapper {
  position: relative;
  height: 82vh;
}


.main__background-image {
  position: absolute;
  left: -230px;
  bottom: 0;
  z-index: 1;
}
.main__title {
  position: relative;
  font-size: 160px;
  font-weight: 900;
  color: #CFCFCD;
  top: 120px;
  left: 230px;
  margin: 0;
  letter-spacing: 25px;
}

.main__description {
  width: 590px;
  right: 0;
  padding-top: 30px;
  line-height: 24px;
  padding-top: 30px;
  position: absolute;
}